<div class="body-main container">
    <div class="jobs-area">
        <div>
            <% if ( applicants.length > 0 ) { %>
                <% applicants.forEach(job => { %>
                    <div class="job-cards">
                        <div>
                            <img width="128" src="/img/learning/circle.png" alt="company logo">
                        </div>
                        <div class="cards-body">
                            <h6>
                               <%= job.title %> 
                            </h6>
                            <div class="text_small">
                               <%= job.city %>  <span class="dot"></span> <%= job.region %> <span class="dot"></span> Ghana
                            </div>
                            <div class="text_small">
                                <%- job.content.slice(0, 199) %>...
                            </div>
                            <div>
                                <span class="tag text_small">python</span> <span class="tag text_small">sql</span> <span class="tag text_small">pyqt5</span>
                            </div>
                            <div class="text_small">
                                <%= moment(job.createdAt).fromNow() %>
                            </div>
                        </div>
                        <div class="cards-options">
                            <span id="textMenuBtn">
                                <svg width="16" height="16" viewBox="0 0 290 290" xmlns="http://www.w3.org/2000/svg"><path d="M180 255c0-19.299-15.701-35-35-35s-35 15.701-35 35 15.701 35 35 35 35-15.701 35-35zM180 35c0-19.299-15.701-35-35-35s-35 15.701-35 35 15.701 35 35 35 35-15.701 35-35zM180 145c0-19.299-15.701-35-35-35s-35 15.701-35 35 15.701 35 35 35 35-15.701 35-35z"/></svg>
                            </span>
                            <div id="textMenu">
                                <ul>
                                    <li>edit</li>
                                    <li>delete</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                <% }) %>
            <% } else { %>
                <div style="position: absolute; color: #555; top: 50%; left: 45%;">No applicants yet</div>
            <% } %>        
        </div>
    </div>
</div>